<% include header.html %>
<h1 class="page-header">后台用户列表</h1>
<p><a class="btn btn-primary" href="./editBackendUser" target="_blank" role="button">新增后台用户</a></p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>姓名</th>
            <th>登录名</th>
            <th>创建时间</th>
            <th>最近登录时间</th>
            <th>最近登录IP</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
        %>
            <tr>
                <td><%= row.Name %></td>
                <td><%= row.LoginName %></td>
                <td><%= row.CreateTime.toJSON() %></td>
                <td><%= row.LastLoginTime ? row.LastLoginTime.toJSON() : '' %></td>
                <td><%= row.LastLoginIP %></td>
                <td>
                <% if (!row.IsManager) { %>
                    <a class="btn btn-default btn-xs" href="./editBackendUser/<%= row.ID %>" target="_blank" role="button">修改</a>
                    <a class="btn btn-default btn-xs" href="./deleteBackendUser/<%= row.ID %>" target="_blank" role="button">删除</a>
                <% } %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include footer.html %>