<% include header.html %>
<% include editBackendUser.html %>
<h1 class="page-header"><%= title %></h1>
<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editBackendUser">新增后台用户</button></p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>姓名</th>
            <th>登录名</th>
            <th>创建时间</th>
            <th>最近登录时间</th>
            <th>最近登录IP</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <%
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
        %>
            <tr>
                <td><%= row.Name %></td>
                <td><%= row.LoginName %></td>
                <td><%= row.CreateTime.toStandardString() %></td>
                <td><%= row.LastLoginTime ? row.LastLoginTime.toStandardString() : '' %></td>
                <td><%= row.LastLoginIP %></td>
                <td class="text-right">
                <% if (!row.IsManager) { %>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#editBackendUser" data-userid="<%= row.ID %>">修改</button>
                    <button type="button" class="btn btn-default btn-xs" onclick="var btn=$(this);deleteBackendUser(btn, <%= row.ID %>, function(){btn.parent().parent().remove();});">删除</button>
                <% } %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% include footer.html %>