<div class="modal fade" id="editPartnerUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增/编辑</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" class="form-control" id="name" name="name" >
                    </div>
                    <div class="form-group">
                        <label for="iconfile">头像</label>
                        <input type="file" class="form-control" id="iconfile" name="iconfile" >
                    </div>
                    <div class="form-group">
                        <label for="description">描述</label>
                        <input type="text" class="form-control" id="description" name="description" >
                    </div>
                    <div class="form-group">
                        <label for="loginname">登录名</label>
                        <input type="text" class="form-control" id="loginname" name="loginname" >
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" >
                    </div>
                    <div class="form-group">
                        <label for="enabled">状态</label>
                        <select class="form-control" id="enabled" name="enabled">
                            <option value="0">禁用</option>
                            <option value="1">启用</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="appUserPhoneNumber">关联App用户的手机号</label>
                        <input type="text" class="form-control" id="appUserPhoneNumber" name="appUserPhoneNumber" >
                    </div>
                </form>
                <div class="alert alert-danger" id="message" role="alert" hidden="hidden"></div>
            </div>
            <div class="modal-footer" style="text-align: left">
                <button type="submit" class="btn btn-primary" autocomplete="off">提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var $editPartnerUser = $('#editPartnerUser');

    $editPartnerUser.on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var userid = button.data('userid');
        var modal = $(this);
        modal.find('.modal-title').text((userid ? '编辑' : '新增'));
        if (userid == undefined) {
            modal.find('.modal-body #id').val('0');
            modal.find('.modal-body #name').val('');
            modal.find('.modal-body #iconfile').val('');
            modal.find('.modal-body #description').val('');
            modal.find('.modal-body #loginname').val('');
            modal.find('.modal-body #password').val('');
            modal.find('.modal-body #enabled').val('1');
            modal.find('.modal-body #appUserPhoneNumber').val('');
        }
        else {
            modal.find('.modal-body #id').val(userid);
            var $btn = modal.find('.modal-footer button');
            $btn.attr('data-loading-text', '正在加载信息...');
            $btn.button('loading');
            $.ajax({
                type: 'POST',
                url: '/ajax/partnerUser/get',
                dataType: 'json',
                data: {id: userid},
                complete: function() {
                    $btn.button('reset');
                },
                success: function(result) {
                    if (!result.success)
                        return;
                    modal.find('.modal-body #name').val(result.data.Name);
                    modal.find('.modal-body #description').val(result.data.Description);
                    modal.find('.modal-body #loginname').val(result.data.LoginName);
                    modal.find('.modal-body #enabled').val(result.data.Enabled);
                    if (result.data.AppUser)
                        modal.find('.modal-body #appUserPhoneNumber').val(result.data.AppUser.PhoneNumber);
                }
            });
        }
    });

    $editPartnerUser.on('shown.bs.modal', function (event) {
        $editPartnerUser.find('.modal-body input[type="text"]')[0].focus();
    });

    $editPartnerUser.find('.modal-footer button').on('click', function () {
        var $msg = $editPartnerUser.find('#message');
        $msg.hide();
        var $btn = $(this);
        $btn.attr('data-loading-text', '正在提交...');
        $btn.button('loading');

        var formdata = new FormData();
        formdata.append('id', $editPartnerUser.find('#id').val());
        formdata.append('name', $editPartnerUser.find('#name').val());
        formdata.append('description', $editPartnerUser.find('#description').val());
        formdata.append('loginname', $editPartnerUser.find('#loginname').val());
        formdata.append('password', $editPartnerUser.find('#password').val());
        formdata.append('enabled', $editPartnerUser.find('#enabled').val());
        formdata.append('iconfile', $editPartnerUser.find('#iconfile')[0].files[0]);
        formdata.append('appUserPhoneNumber', $editPartnerUser.find('#appUserPhoneNumber').val());

        $.ajax({
            type: 'POST',
            url: '/ajax/partnerUser/post',
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formdata,
            complete: function() {
                $btn.button('reset');
            },
            success: function(result) {
                if (result.success)
                    window.location.reload();
                else {
                    $msg.text(result.message);
                    $msg.show();
                }
            }
        });
    });

    $editPartnerUser.keyup(function(event){
        if(event.keyCode == 13)
            $editPartnerUser.find('.modal-footer button').trigger("click");
    });
</script>