<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/jquery.base64.min.js"></script>
</head>
<body>
<div style="width: 260px; margin: 20px auto;">
    <h1 class="page-header"><%= title %></h1>
    <form role="form" method="post">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" name="username" >
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" >
        </div>
        <div class="form-group">
            <label for="verificationCode">验证码</label>
            <input type="text" class="form-control" id="verificationCode" name="verificationCode" >
            <img src="/verificationCode" id="imgVerificationCode" style="cursor: pointer" title="点击更换验证码">
        </div>
        <% if (locals.message && message.length > 0) { %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
        <% } %>
        <button type="submit" class="btn btn-primary btn-lg">登录</button>
    </form>
</div>
<script>
    $('form').on('submit', function(){
        var input = $('#password');
        input.val($.base64.encode(input.val()));
    });
    $('#imgVerificationCode').on('click', function(){
        this.src='/verificationCode?' + new Date().getTime();
        $('#verificationCode').select().focus();
    });
    $('#username').focus();
</script>
</body>
</html>