<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div style="width: 260px; margin: 20px auto;">
    <h1 class="page-header"><%= title %></h1>
    <form role="form" method="post">
        <input type="hidden" id="id" value="<%= id %>">
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name" name="name" >
        </div>
        <div class="form-group">
            <label for="loginname">登录名</label>
            <input type="text" class="form-control" id="loginname" name="loginname" >
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" >
        </div>
        <% if (locals.message && message.length > 0) { %>
        <div class="alert alert-<%= isError ? 'danger' : 'success' %>" role="alert"><%= message %></div>
        <% } %>
        <button type="submit" class="btn btn-primary btn-lg">提交</button>
    </form>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script>$("#name").focus();</script>
</body>
</html>