<% include header.html %>
<% if (rows.length > 0) { %>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr><th>字图片</th><td>读音</td><th>编号</th><th>使用次数</th><th>解释</th><th><%= userCaption %></th></tr>
        </thead>
        <tbody>
        <%
        for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        %>
        <tr>
            <td><a href="<%= row.PictureUrl ? row.PictureUrl : '#' %>" target="_blank"><img src="<%= row.PictureUrl ? row.PictureUrl : '' %>" class="word-pic-sm"></a></td>
            <td><a href="<%= row.AudioUrl ? row.AudioUrl : '#' %>" target="_blank">播放</a></td>
            <td><%= row.Number %></td>
            <td><%= row.UseCount %></td>
            <td><%= row.Description %></td>
            <td><a href="/admin/appUserInfo/<%= row.AppUserID %>"><img src="<%= row.IconUrl %>" class="user-icon-sm"><%= row.Nickname %></a></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <div><ul name="pages"></ul></div>
    <script type="text/javascript">
        var pages = $('ul[name="pages"]');
        pages.bootstrapPaginator({
            bootstrapMajorVersion: 3,
            currentPage: <%= currentPage %>,
            totalPages: <%= totalPages %>,
                pageUrl: function(type, page, current){
                return '<%- pageUrl %>pageNumber=' + page;
            }
        });
    </script>
</div>
<% } %>
<% include footer.html %>