<div class="modal fade" id="editActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="mode">类型</label>
                        <select class="form-control" id="mode" name="mode">
                            <option value="0">广播消息</option>
                            <option value="1">活动(回复消息)</option>
                            <option value="2">活动(区域回复)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pictureFile">图片</label>
                        <input type="file" class="form-control" id="pictureFile" name="pictureFile" >
                    </div>
                    <div class="form-group">
                        <label for="content">文字内容</label>
                        <input type="text" class="form-control" id="content" name="content" >
                    </div>
                    <div class="form-group">
                        <label for="url">链接</label>
                        <input type="url" class="form-control" id="url" name="url">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="beginTime">活动 开始时间</label>
                                <input type="datetime-local" class="form-control" id="beginTime" name="beginTime">
                            </div>
                            <div class="col-md-4">
                                <label for="endTime">结束时间</label>
                                <input type="datetime-local" class="form-control" id="endTime" name="endTime">
                            </div>
                            <div class="col-md-4">
                                <label for="expireAwardTime">领奖终止时间</label>
                                <input type="datetime-local" class="form-control" id="expireAwardTime" name="expireAwardTime">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="distanceMeters">位置 及 范围(米)</label>
                        <input type="number" class="form-control" id="distanceMeters" name="distanceMeters" >
                        <input type="hidden" id="latitude" name="latitude" >
                        <input type="hidden" id="longitude" name="longitude" >
                        <div id="baidumap" style="width: 100%;height: 400px;"></div>
                    </div>
                    <div class="form-group">
                        <label for="distanceMeters">接收用户：所有订阅用户</label>
                    </div>
                    <div class="alert alert-danger" id="message" role="alert" hidden="hidden"></div>
                    <button type="submit" class="btn btn-primary" autocomplete="off">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZyY69hHlmZGBZLdr5kzxbBes"></script>
<script type="text/javascript">
    // 本页业务
    var PARTNERUSERID = <%= user.PartnerUserID %>;
    var $editActivity = $('#editActivity');
    var $editActivity_msg = $editActivity.find('#message');

    $editActivity.on('show.bs.modal', function (event) {
        $editActivity_msg.hide();
        var modal = $(this);
        modal.find('.modal-body #mode').val('0').change();
        modal.find('.modal-body #pictureFile').val('');
        modal.find('.modal-body #content').val('');
        modal.find('.modal-body #url').val('');
        modal.find('.modal-body #beginTime').val('');
        modal.find('.modal-body #endTime').val('');
        modal.find('.modal-body #expireAwardTime').val('');
        modal.find('.modal-body #longitude').val('');
        modal.find('.modal-body #latitude').val('');
        modal.find('.modal-body #distanceMeters').val('');

    });

    $editActivity.on('shown.bs.modal', function (event) {
        $editActivity.find('.modal-body select')[0].focus();
    });

    $editActivity.find('form').on('submit', function(){
        $editActivity_msg.hide();
        var $btn = $editActivity.find('button[type="submit"]');
        $btn.attr('data-loading-text', '正在提交...');
        $btn.button('loading');

        var formdata = new FormData();
        formdata.append('partnerUserID', PARTNERUSERID);
        formdata.append('mode', $editActivity.find('#mode').val());
        formdata.append('content', $editActivity.find('#content').val());
        formdata.append('url', $editActivity.find('#url').val());
        formdata.append('beginTime', $editActivity.find('#beginTime').val());
        formdata.append('endTime', $editActivity.find('#endTime').val());
        formdata.append('expireAwardTime', $editActivity.find('#expireAwardTime').val());
        formdata.append('longitude', $editActivity.find('#longitude').val());
        formdata.append('latitude', $editActivity.find('#latitude').val());
        formdata.append('distanceMeters', $editActivity.find('#distanceMeters').val());
        formdata.append('pictureFile', $editActivity.find('#pictureFile')[0].files[0]);

        $.ajax({
            type: 'POST',
            url: '/ajax/activity/post',
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formdata,
            complete: function() {
                $btn.button('reset');
            },
            success: function(result) {
                if (result.success)
                    window.location.reload();
                else {
                    $editActivity_msg.text(result.message);
                    $editActivity_msg.show();
                }
            }
        });
        return false;
    });

    $editActivity.find('#mode').on('change', function (event) {
        function setDisplay(objID, isShow) {
            var p = $editActivity.find('#' + objID).parent();
            while (p[0].className !== 'form-group') {
                p = p.parent();
            }
            p.css('display', isShow ? 'block' : 'none');
        }
        var modeStr = $editActivity.find('#mode').val();
        setDisplay('beginTime', modeStr === '1' || modeStr === '2');
        setDisplay('distanceMeters', modeStr === '2');
    });

    // 地图相关
    function setPointByBaiduPoint(x, y) {
        $.ajax({
            type: 'GET',
            url: '/baiduToGps',
            dataType: 'json',
            data: { x: x, y: y },
            success: function(result) {
                if (result.success) {
                    $editActivity.find('#longitude').val(result.data.x);
                    $editActivity.find('#latitude').val(result.data.y);
                }
            }
        });
    }
    var map = new BMap.Map("baidumap");
    var point = new BMap.Point(116.331398, 39.897445);
    map.centerAndZoom(point,12);

    var myCity = new BMap.LocalCity();
    myCity.get(function(result) {
        map.setCenter(result.name);
    });

    var mapMarker = null;
    var mapCircle = null;
    map.addEventListener("click", function(e){
        var pt = e.point;
        if (mapCircle == null) {
            mapCircle = new BMap.Circle(pt, 0);
            mapCircle.setFillColor("#4E98DD");
            mapCircle.setStrokeColor("#3D6CAC");
            mapCircle.setRadius($editActivity.find('#distanceMeters').val());
            map.addOverlay(mapCircle);

            mapMarker = new BMap.Marker(pt);
            map.addOverlay(mapMarker)
        }
        else {
            mapMarker.setPosition(pt);
            mapCircle.setCenter(pt);
        }
        setPointByBaiduPoint(pt.lng, pt.lat);
    });

    $editActivity.find('#distanceMeters').on('keyup mouseup', function (event) {
        mapCircle && mapCircle.setRadius($(this).val());
    });
</script>