<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="oldpassword">旧密码</label>
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword" >
                    </div>
                    <div class="form-group">
                        <label for="newpassword">新密码</label>
                        <input type="password" class="form-control" id="newpassword" name="newpassword" >
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">确认密码</label>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" >
                    </div>
                    <div class="alert alert-danger" id="message" role="alert" hidden="hidden"></div>
                    <button type="submit" class="btn btn-primary" autocomplete="off">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.base64.min.js"></script>
<script type="text/javascript">
    var $editPassword = $('#editPassword');
    var $editOldPassword = $editPassword.find('#oldpassword');
    var $editNewPassword = $editPassword.find('#newpassword');
    var $editConfirmPassword = $editPassword.find('#confirmpassword');
    var $editPassword_msg = $editPassword.find('#message');

    function confirmPassword(){
        if ($editNewPassword.val() === $editConfirmPassword.val()) {
            $editNewPassword.parent().removeClass('has-error');
            $editConfirmPassword.parent().removeClass('has-error');
        }
        else {
            $editNewPassword.parent().addClass('has-error');
            $editConfirmPassword.parent().addClass('has-error');
        }
    }
    $editNewPassword.on('keyup', confirmPassword);
    $editConfirmPassword.on('keyup', confirmPassword);

    $editPassword.on('show.bs.modal', function (event) {
        $editPassword_msg.hide();
        $editOldPassword.val('');
        $editNewPassword.val('');
        $editConfirmPassword.val('');
    });

    $editPassword.on('shown.bs.modal', function (event) {
        $editOldPassword[0].focus();
    });

    $editPassword.find('form').on('submit', function(){
        if ($editNewPassword.val() !== $editConfirmPassword.val()) return false;
        $editPassword_msg.hide();
        var $btn = $editPassword.find('button[type="submit"]');
        $btn.attr('data-loading-text', '正在提交...');
        $btn.button('loading');
        $.ajax({
            type: 'POST',
            url: '<%= editPasswordPostUrl %>',
            dataType: 'json',
            data: {
                oldpassword: $.base64.encode($editOldPassword.val()),
                newpassword: $.base64.encode($editNewPassword.val())
            },
            complete: function() {
                $btn.button('reset');
            },
            success: function(result) {
                if (result.success)
                    $editPassword.modal('hide');
                else {
                    $editPassword_msg.text(result.message);
                    $editPassword_msg.show();
                }
            }
        });
        return false;
    });
</script>